{% for pub in pubs %}
  {# check if we are starting a new year block #}
  {% if loop.first or pub.year() != loop.previtem.year() %}
    <h2><span style="color: #a00d17;"><strong>{{ pub.year() }}</strong></span><span style="color: #a00d17;"></span></h2>
  {% endif %}

  <p>[{{ loop.index }}]. {{ pub.authors }}
    <a href="{{ pub.id }}" target="_blank" rel="noopener">{{ pub.title }}.</a>
    {% if pub.doi is not none %}
      <a href="http://dx.doi.org/{{ pub.doi }}" target="_blank">
        {% if pub.journal_ref is not none %}
          {{ pub.journal_ref }}
        {% else %}
          {{ pub.doi }}
        {% endif %}
      </a>
    {% elif pub.journal_ref is not none %}
      {{ pub.journal_ref }}
    {% endif %}
    (<a href="{{ pub.pdf_link}}" target="_blank" rel="noopener">pdf</a>).
  </p>
{% endfor %}
